body.light-mode {
  background-color: #ffffff;
  color: #1a103d;
}

body.dark-mode {
  background-color: #1a103d;
  color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.dnd-item {
  user-select: none;
  padding: 8px;
  margin: 0 0 8px 0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dnd-item:hover {
  background: #f0f0f0;
}

.dnd-container {
  background: #f7f7f7;
  padding: 8px;
  border-radius: 8px;
  min-height: 150px;
}
